---
layout: index_layout
permalink: /projects/
---

<!-- <div class="banner_container"> -->

<div class="preview_container">
  {% include preview.html %}
</div>


<!-- <div class=""> -->

  <nav class="navbar">
    <ul>
      <div class="row">
        <div class="column column-33 text-sm-right text-center">
          <li class="nav-item"><a href="{{ site.baseurl }}{% link index.html %}">MAIN</a></li>
        </div>
        <div class="column column-33 text-center">
          <li class="nav-item"><a href="{{ site.baseurl }}{% link navigation/about.html %}">ABOUT</a></li>
        </div>
        <div class="column column-33 text-sm-left text-center">
          <li class="nav-item"><a href="{{ site.baseurl }}{% link navigation/contact.html %}">CONTACT</a></li>
        </div>

      </div>
    </ul>
  </nav>

<!-- </div> -->

<style type="text/css">
  {% include lower_navbar.css %}

.preview_container {
  /*margin: 0 auto;*/
  /*max-width: 112.0rem;*/
  padding: 0 2rem;
  /*position: relative;*/
  /*width: 100%;*/
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (max-width: 40.0rem) {
  .row {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

</style>