---
layout: index_layout
permalink: /projects/
---

<!-- <div class="banner_container"> -->

<div class="preview_container">
  {% include preview.html %}
</div>


<!-- <div class=""> -->
  {% include lower_navbar.html %}

<!-- </div> -->

<style type="text/css">

.preview_container {
  /*margin: 0 auto;*/
  /*max-width: 112.0rem;*/
  padding: 0 2rem;
  /*position: relative;*/
  /*width: 100%;*/
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (max-width: 40.0rem) {
  .row {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

</style>