<div id="{{ include.name }}" class="carousel slide" data-ride="{{ include.data_ride | default: '' }}">
 
  <ol class="carousel-indicators">
   {% for picture in include.data %}
     
      {% if forloop.first == true %}
        {% assign active = "active" %}
        {% assign index0 = "0" %}
      {% else %}
        {% assign active = "" %}
        {% assign active = forloop.index0 %}
      {% endif %}

       <li data-target="#{{ include.name }}" data-slide-to="{{ index0 }}" class="{{ active }}"></li>

   {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
    {% for picture in include.data %}
      
      {% if forloop.first == true %}
        {% assign active = "active" %}
      {% else %}
        {% assign active = "" %}
      {% endif %}

      <div class="carousel-item {{ active }}">
        {% if picture.title %}
          <img src="/assets/img/{{ picture.url }}" class="d-block w-100" alt="{{ picture.title }}">
        {% else %}
          <img src="/assets/img/{{ picture.url }}" class="d-block w-100">
        {% endif %}
        {% if picture.caption %}
          <div class="carousel-caption">
            {{ picture.caption }}
          </div>
        {% endif %}
      </div>

    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{ include.name }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ include.name }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>