*:focus {
    outline: none;
}

::-webkit-input-placeholder { color:#666; }
::-moz-placeholder { color:#666; } /* firefox 19+ */
:-ms-input-placeholder { color:#666; } /* ie */
input:-moz-placeholder { color:#666; }

.clear {
    font-size: 0px;
    line-height: 0px;
    clear: both;
}



.r300{
    margin-top: 12px;
}
.rbar{
    margin-top: 22px;
}
.patron_serwisu{
    margin-top: 4px;
    float: left;
    margin-left: 100px;
    min-width: 100px;
    text-align: center;
}

.rbar > div > div
{
    background: url(../images/icons/reklama.png) center top no-repeat;
    padding-top: 8px;
    text-align: center;
}
.r300 > div > div
{
    background: url(../images/icons/reklama.png) center top no-repeat;
    padding-top: 8px;
}
.block div[id^="bmone2t"]
{
    background: url(../images/icons/reklama.png) center top no-repeat;
    padding-top: 6px;
    margin-top: -4px;
    margin-left: -4px;
}
.r300 > div > table:before {
    content: " ";
    background: url(../images/icons/reklama.png) center top no-repeat;
    width:300px;
    height:8px;
    display:block;
    position: relative;
}
.patron_serwisu > div > div
{
    background: url(../images/icons/patron_serwisu.gif) center top no-repeat;
    padding-top: 8px;
}

strong {
    font-weight: normal !important;
    font-family: 'titilliumsemibold';
}

html,body{
    height:100%;
    width:100%;
}
body {
    font-family: 'titilliumregular';
    font-size: 14px;
    color: #333;
    background-color: #fff;
    position:relative;
}

a {
    text-decoration: none;
    color:#222;
}

a:hover {
    color: #DC0E0E;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    text-align:left;
    font-size: 1em;
    display: inline;
}
a, p, h1, h2, h3, h4, h5, h6, span{
    line-height: 120%;
}

.red{
    margin: 5px 0;
}
.red > *{
    color: #DC0E0E;
    text-transform: uppercase;
    line-height: 100%;
}

.red > *:hover{
    text-decoration: underline;
}

.content{
    position:relative;
    z-index:1;
    width: 980px;
    height: auto;
    margin: 0 auto;
}


.white {
    background-color: #fff;
    padding: 0px 10px 0px 10px;

}

#container{
    margin: 0 auto;
    height:auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.wrapper{
    margin-top: 10px;
}
.cols{
    overflow: hidden;
    margin-top: 20px;
    border-top: 1px solid #999;
    padding-top: 20px;
}

.cols > .cleft {
    width: 400px;
    float: left;
}

.cols > .cleft > div:first-child{
    margin-top: 0;
}

.cols > .cright > div:first-child{
    margin-top: 0;
}

.cols > .cright {
    width: 560px;
    float: right;
    margin-left: 20px;
}

.cols > .cl{
    width: 660px;
    float: left;
}

.cols > .cr{
    width: 300px;
    float: right;
    margin-left:9px;
    padding-left: 10px;
    border-left: 1px solid #999;
}

.cols > .cl > div:first-child{
    margin-top: 0;
}

.cols > .cr > div:first-child{
    margin-top: 0;
}


.buttons{
    font-size: 0;
    margin-top: 10px;
}
.button{
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    font-family: 'titilliumsemibold';
    display: inline-block;
    padding: 5px 8px;
    width: 120px;
    margin-left: 20px;
}

.button:first-child{
    margin-left: 0;
}

.button:hover{
    background-color: #DC0E0E;
    color: #FFF;
}

.noborder {
    border: 0 !important;
    margin-top: 0px !important;
}

.nomarginleft {
    margin-left: 0px !important;
}