.zpr_header{
	background-color: #FFF;
}
.zpr_header > [id*="bmone2n"] > [id*="bmone2t"]{
	width: 1100px;
}

/**/
.zpr_top_1 > [id*="bmone2n"] > [id*="bmone2t"],
.zpr_bottom_1 > [id*="bmone2n"] > [id*="bmone2t"]{
	padding: 10px 0;
}

.zpr_sky_left.zpr_fix [id*="bmone2n"] > [id*="bmone2t"]{
	margin-left: -120px;
}

.zpr_sky{
	width: 1000px;
}


.zpr_player_top > [id*="bmone2n"] > [id*="bmone2t"]{
	padding-top: 5px;
}
.zpr_side_top,
.zpr_red,
.zpr_side_bottom {
    margin-top: 15px;
}
.zpr_inside_top_a,
.zpr_inside_top_b {
    margin: 20px 15px 0 15px; ;
    
}
/*
--------------------------------------------------------------------------------------
*/
/* NOWA ETYKIETA */
[class*="zpr_"].active {
    padding: 15px 0 0 0 !important;

}
.zpr_inside_bottom.active{
	top: 10px;}
.zpr_inside_bottom > [id*="bmone2n"] > [id*="bmone2t"] {
    padding-top: 0 !important;
}
[class*="zpr_"].active:before, .zpr_sky_left.active.zpr_fix > div:before, .zpr_sky_right.active.zpr_fix > div:before  {
    content: "REKLAMA" !important;
    background-color: #666666 !important;
    /*margin: 0 0 0 -30px;*/
    width: 60px !important;
    font-size: 8px !important;
    line-height: 15px !important;
    text-transform: uppercase !important;
    position: absolute !important;
    color: #fff !important;
    text-align: center !important;
    height: 15px !important;
    top: 0px !important;
    left: 50% !important;
    -ms-transform: translateX(-50%) !important; /* IE 9 */
    -webkit-transform: translateX(-50%) !important; /* Chrome, Safari, Opera */
    transform: translateX(-50%) !important;
    font-family: Arial !important;
	visibility: visible !important;
}
.zpr_inside_0 > div > div:before {
    content: "REKLAMA" !important;
    background-color: #666666 !important;
    margin: 0 0 0 -30px !important;
    width: 60px !important;
    font-size: 8px !important;
    line-height: 15px !important;
    text-transform: uppercase !important;
    position: relative !important;
    color: #fff !important;
    text-align: center !important;
    height: 15px !important;
    top: 0px !important;
    left: 50% !important;
    font-family: Arial !important; 
	background-image: none !important;
}

.zpr_sky_left.active.zpr_fix > div:before,
.zpr_sky_right.active.zpr_fix > div:before {top: 45px !important;}
.zpr_sky_left.active.zpr_fix:before, .zpr_sky_right.active.zpr_fix:before {display:none !important;}
.zpr_sky_left.zpr_fix > div, .zpr_sky_right.zpr_fix > div {top:30px !important;}
.zpr_sky_left, .zpr_sky_left > div, .zpr_sky_right, .zpr_sky_right > div {min-width: 120px !important;}
.zpr_sky_left.active.zpr_fix [id*="bmone2n"] > [id*="bmone2t"], .zpr_sky_right.active.zpr_fix [id*="bmone2n"] > [id*="bmone2t"] {
    margin-left: auto !important;
    margin-right: auto !important;
}
.zpr_top_1.active > [id*="bmone2n"] > [id*="bmone2t"] {
    margin: 0 auto !important;
}
.zpr_bottom_0.active > [id*="bmone2n"] > [id*="bmone2t"] {padding: 0;}
.zpr_combo .zpr_top_1.active > div iframe, .zpr_bottom_0.active > div iframe {
    margin-top: 0px !important;
}
.zpr_side_top,
.zpr_inside_top_A,
.zpr_inside_top_B,
.zpr_inside_top_a,
.zpr_inside_top_b,
.zpr_red,
.zpr_side_bottom,
.zpr_inside_comments,
.zpr_inside_bottom ,
.zpr_bottom_1,
.zpr_bottom_0,
.zpr_side_top_0 ,
.zpr_player_bottom ,
.zpr_player_top ,
.zpr_top_1 {
	position:relative !important; text-align:center !important;
}
.zpr_adv_top.active:before {
	display: none !important;
}
.zpr_side_top.active,
.zpr_inside_top_A.active,
.zpr_inside_top_B.active,
.zpr_inside_top_a.active,
.zpr_inside_top_b.active,
.zpr_red.active,
.zpr_side_bottom.active,
.zpr_inside_comments.active,
.zpr_inside_bottom .active,
.zpr_bottom_1.active,
.zpr_bottom_0.active,
.zpr_side_top_0.active,
.zpr_player_bottom .active,
.zpr_player_top.active,
.zpr_top_1.active {
    margin: 10px auto !important;
}
[class*="zpr_"] > [id*="bmone2n"] > [id*="bmone2t"]:after {
	display: none !important;
}
.zpr_inside_top_a > [id*="bmone2n"] > [id*="bmone2t"], .zpr_inside_top_b > [id*="bmone2n"] > [id*="bmone2t"] {
    margin: 0 !important;
}